{:company/legal-name "Copperbelt Energy Corporation Plc"
 :company/lei "213800F5XJIMCMJLLQ70"
 :company/jurisdiction "ZM"
 :company/website "https://www.cec.com.zm"
 :company/isic-rev5 "3510"
 :company/listed-exchange "Lusaka Stock Exchange (LuSE)"
 :company/inquiry-form-url "https://support.cec.com.zm/support/tickets/new"}
